header .navbar {
  background: linear-gradient(90deg, #404058 0%, #5c5c8f 35%, #769fa7 100%); }
  header .navbar #logo {
    width: 100px; }
  header .navbar .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    font-size: 20px;
    text-align: center; }
    header .navbar .nav-link:hover {
      background-color: rgba(255, 255, 255, 0.354);
      transform: scale(1.2) translateY(1px); }

footer {
  background: linear-gradient(90deg, #404058 0%, #5c5c8f 35%, #769fa7 100%);
  padding: 10px; }
  footer ul {
    text-align: left; }
    footer ul li {
      list-style: none; }
  footer .medio_mail {
    color: #130931; }
  footer .medio_telefono {
    color: #656566; }
  footer .medio_facebook {
    color: #cfcfe7; }
  footer .medio_insta {
    color: #fa5c00; }

#enviossincargo {
  text-align: center;
  background-color: #8990a2; }

.index .imagen {
  width: 100%;
  height: 350px;
  margin-bottom: 0px;
  object-fit: cover;
  object-position: 0 80%;
  min-height: 400px; }

.index .info {
  text-align: center; }
  .index .info #titulo {
    background-color: #8990a2;
    color: black;
    padding-bottom: 20px;
    padding-top: 2rem;
    font-size: 20px; }
  .index .info #Texto {
    background-color: #8990a2;
    color: black;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 15px;
    padding-bottom: 25px; }

.index .seccion-central h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  margin-bottom: 0;
  color: black;
  background: rgba(92, 93, 94, 0.692); }

.index .seccion-central .carousel-inner img {
  width: 100%;
  max-height: 460px; }

.index .seccion-central .carousel-inner .carousel-caption {
  background-color: rgba(34, 28, 70, 0.521);
  padding: 0;
  margin-left: 200px;
  margin-right: 200px; }
  .index .seccion-central .carousel-inner .carousel-caption h3 {
    color: black; }

/* APLICO EXTEND Y MIXIN */
.texto_informativo .titulo, .texto_informativo .Texto {
  background-color: #8990a2;
  color: black;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 20px;
  padding-right: 75rem;
  font-size: 20px; }

.texto_informativo .Texto {
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 15px;
  padding-bottom: 25px; }

.formulario {
  padding-left: 80px;
  padding-right: 80px; }
  .formulario .btn {
    margin-top: 20px;
    margin-bottom: 20px; }

main {
  min-height: 400px; }
  main .sectionproductos {
    background-color: white;
    padding: 20px; }
    main .sectionproductos #titulodeproducto {
      background: linear-gradient(90deg, #404058 0%, #5c5c8f 35%, #769fa7 100%);
      text-align: center;
      padding: 5px 5px 10px 5px;
      margin: 10px 0px;
      border-radius: 1rem; }
    main .sectionproductos ul {
      display: grid;
      background-color: white;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); }
      main .sectionproductos ul tex article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px black;
        padding: 20px; }
        main .sectionproductos ul tex article img {
          width: 100%;
          height: 400px;
          object-fit: cover;
          object-position: 50% 50%; }
        main .sectionproductos ul tex article span {
          display: flex;
          justify-content: center;
          align-items: center;
          padding-top: 20px; }
        main .sectionproductos ul tex article p {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px; }

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase; }

body {
  overflow-x: hidden;
  background-color: #8990a2; }

main section h3 {
  text-align: center; }
