header .navbar {
  background: linear-gradient(90deg, #404058 0%, #5c5c8f 35%, #769fa7 100%); }
  header .navbar #logo {
    width: 100px; }
  header .navbar .nav-link {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    font-size: 20px;
    text-align: center; }
    header .navbar .nav-link:hover {
      background-color: rgba(255, 255, 255, 0.354);
      transform: scale(1.2) translateY(1px); }

footer {
  background: linear-gradient(90deg, #010106 0%, #51518d 35%, #010106 100%);
  padding: 10px; }
  footer ul {
    text-align: left; }
    footer ul li {
      list-style: none;
      color: #3b3939;
      text-shadow: 0.1em 0.1em 0.2em white; }
  footer .medio_mail {
    color: #130931; }
  footer .medio_telefono {
    color: #656566; }
  footer .medio_facebook {
    color: #cfcfe7; }
  footer .medio_insta {
    color: #fa5c00; }
  footer div {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
    margin-top: 1rem; }
    footer div img {
      width: 25px;
      height: 25px; }
    footer div h5 {
      margin-left: 16px;
      margin-top: 5px;
      color: aliceblue;
      font-size: 15px; }

.footer_fixed {
  bottom: 0; }

.envios h1 {
  text-align: center; }

#enviossincargo {
  text-align: center;
  background-color: #8990a2; }

.maps {
  display: flex;
  justify-content: center;
  object-fit: cover;
  width: 100%;
  height: 400px;
  object-position: 50% 50%; }

.index .imagen {
  width: 100%;
  height: 350px;
  margin-bottom: 0px;
  object-fit: cover;
  object-position: 0 80%;
  min-height: 400px; }

.index .info {
  text-align: center; }
  .index .info #titulo {
    color: black;
    padding-bottom: 20px;
    padding-top: 2rem; }
  .index .info .descripcion {
    border-top: 3px solid #1d0404;
    border-bottom: 3px solid #1d0404;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem; }
    .index .info .descripcion p {
      color: black;
      font-size: 15px;
      line-height: 20px; }

.index .seccion-central h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  margin-bottom: 0;
  color: black;
  background: rgba(92, 93, 94, 0.692); }

.index .seccion-central .carousel-inner img {
  width: 100%;
  max-height: 460px; }

.index .seccion-central .carousel-inner .carousel-caption {
  background-color: rgba(34, 28, 70, 0.521);
  padding: 0;
  margin-left: 200px;
  margin-right: 200px; }
  .index .seccion-central .carousel-inner .carousel-caption h3 {
    color: black; }

/* APLICO EXTEND Y MIXIN */
.texto_informativo .titulo, .texto_informativo .Texto {
  background-color: #8990a2;
  color: black;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 20px;
  padding-right: 75rem;
  font-size: 20px; }

.texto_informativo .Texto {
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 15px;
  padding-bottom: 25px; }

.main_contacto h1 {
  margin-top: 2rem;
  text-align: center; }

.main_contacto .formulario {
  padding-left: 80px;
  padding-right: 80px; }
  .main_contacto .formulario p {
    text-transform: none;
    margin-top: 2rem;
    text-align: center;
    font-size: 25px; }
  .main_contacto .formulario .btn {
    margin-top: 20px;
    margin-bottom: 20px; }

main {
  min-height: 400px; }
  main .sectionproductos {
    background-color: white;
    padding: 20px; }
    main .sectionproductos #titulodeproducto {
      background: linear-gradient(90deg, #404058 0%, #5c5c8f 35%, #769fa7 100%);
      text-align: center;
      padding: 5px 5px 10px 5px;
      margin: 10px 0px;
      border-radius: 1rem; }
    main .sectionproductos ul {
      display: grid;
      background-color: white;
      gap: 20px;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      list-style: none;
      padding-left: 2rem;
      padding-right: 2rem;
      margin-top: 2rem; }
      main .sectionproductos ul li:hover {
        background-color: rgba(0, 0, 0, 0.354);
        transform: scale(1.03) translateY(0.5px); }
      main .sectionproductos ul li article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 10px black;
        padding: 20px; }
        main .sectionproductos ul li article img {
          width: 100%;
          height: 400px;
          object-fit: cover;
          object-position: 50% 50%; }
        main .sectionproductos ul li article a {
          text-decoration: none;
          color: black;
          margin-top: 20px; }
          main .sectionproductos ul li article a:hover {
            background-color: rgba(75, 0, 236, 0.572);
            transform: scale(1.1) translateY(0.5px);
            border-radius: 1rem; }

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase; }

body {
  overflow-x: hidden;
  background-color: #8990a2; }

/* main section h3 {
    text-align: center;
} */
