.envios{
    h1 {
        text-align: center;
    }
}

#enviossincargo {
    text-align: center;
    background-color: #8990a2;
}    

.maps {
    display: flex;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    height: 400px;
    object-position: 50% 50%;
}