.index {
    .imagen {
        width: 100%;
        height: 350px;
        margin-bottom: 0px;
        object-fit: cover;
        object-position: 0 80%;
        min-height: 400px;
    }

    .info {
        text-align: center;

        #titulo {          
            color: black;
            padding-bottom: 20px;
            padding-top: 2rem;         
        }

        .descripcion{
            border-top: 3px solid rgb(29, 4, 4);
            border-bottom: 3px solid rgb(29, 4, 4);
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding-right: 2rem;
            padding-left: 2rem;
            padding-top: 2rem ;
            padding-bottom: 1rem;            

            p {           
                color: black;                
                font-size: 15px;  
                line-height: 20px;              
            }
        }

    }

    .seccion-central {
        h2{
            padding-top: 1rem;
            padding-bottom: 1rem;
            text-align: center;
            margin-bottom: 0;
            color: rgb(0, 0, 0);
            background: rgba(92, 93, 94, 0.692);
        }
        .carousel-inner {
            img {
                width: 100%;
                max-height: 460px;
            }

            .carousel-caption {
                background-color: rgba(34, 28, 70, 0.521);
                padding: 0;
                margin-left: 200px;
                margin-right: 200px;

                h3 {
                    color: black;
                }
            }
        }
    }
}