@import "header";
@import "footer";
@import "envios";
@import "index";
@import "info";
@import "contactos";
@import "productos";



 * {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

 body {
    overflow-x: hidden;
    background-color: #8990a2
}



/* main section h3 {
    text-align: center;
} */